In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
filtered_df = application_df.drop(columns=['EIN', 'NAME'])
filtered_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
filtered_df = filtered_df.loc[filtered_df['USE_CASE'] != 'Other', :]
filtered_df['USE_CASE'].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Name: USE_CASE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
rare_app = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
#ultra_rare_app = ['T2', 'T25', 'T14', 'T29', 'T15', 'T17']
#'T10', 'T9', 'T13', 'T12'
# Replace in dataframe
for app in rare_app:
    filtered_df['APPLICATION_TYPE'] = filtered_df['APPLICATION_TYPE'].replace(app,"OTHER")

#for app in ultra_rare_app:
    #filtered_df['APPLICATION_TYPE'] = filtered_df['APPLICATION_TYPE'].replace(app,"ULTRA_RARE")

# Check to make sure binning was successful
filtered_df['APPLICATION_TYPE'].value_counts()

T3       27035
T4        1542
T6        1216
T5        1173
T19       1065
T8         736
T7         725
T10        528
OTHER      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
classifications = filtered_df['CLASSIFICATION'].value_counts()
cls_df = pd.DataFrame(classifications)
cls_df

       CLASSIFICATION
C1000           17323
C2000            6074
C1200            4837
C3000            1918
C2100            1883
...               ...
C4120               1
C8210               1
C2561               1
C4500               1
C2150               1

[71 rows x 1 columns]

In [6]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for idx, cls in cls_df.iterrows():
    if cls[0] < 50:
        classifications_to_replace.append(idx)

# Replace in dataframe
for cls in classifications_to_replace:
    filtered_df['CLASSIFICATION'] = filtered_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
filtered_df['CLASSIFICATION'].value_counts()

C1000    17323
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [7]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(filtered_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_OTHER,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [8]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
X = dummies_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
number_input_features = len(X_train_scaled[0])
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation_1',['relu','tanh','sigmoid', 'elu', 'selu', 'softmax'])
    activation_2 = hp.Choice('activation_2',['relu','tanh','sigmoid', 'elu', 'selu', 'softmax'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=15,
        step=1), activation=activation, input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=1),
            activation=activation_2))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [14]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

In [15]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 54s]
val_accuracy: 0.7266153693199158

Best val_accuracy So Far: 0.7304642200469971
Total elapsed time: 00h 25m 30s
INFO:tensorflow:Oracle triggered exit

In [16]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation_1': 'sigmoid',
 'activation_2': 'relu',
 'first_units': 8,
 'num_layers': 2,
 'units_0': 7,
 'units_1': 4,
 'units_2': 4,
 'units_3': 9,
 'units_4': 6,
 'units_5': 2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 1,
 'tuner/round': 1,
 'tuner/trial_id': '0048'}

In [17]:
best_model = tuner.get_best_models(1)[0]
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:Callbacks method `on_test_batch_begin` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_begin` time: 0.0010s). Check your callbacks.
268/268 - 0s - loss: 0.5538 - accuracy: 0.7305
Loss: 0.5538011193275452, Accuracy: 0.7304642200469971

In [19]:
import os
checkpoint_path = "Output/AlphabetSoupCharity_Optimization.h5"
checkpoint_dir = os.path.dirname(checkpoint_path)

batch_size = 804
cp_callbacks = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_frequency = 5*batch_size
)

best_model.save_weights(checkpoint_path.format(epoch=0))

fit_model = best_model.fit(X_train_scaled,y_train,
    epochs=50,
    batch_size=batch_size,
    callbacks=[cp_callbacks],
    validation_data=(X_test,y_test),
    verbose=0
    )

Epoch 00001: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00002: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00003: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00004: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00005: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00006: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00007: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00008: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00009: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00010: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00011: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00012: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00013: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00014: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00015: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00016: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00017: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00018: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00019: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00020: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00021: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00022: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00023: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00024: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00025: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00026: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00027: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00028: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00029: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00030: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00031: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00032: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00033: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00034: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00035: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00036: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00037: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00038: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00039: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00040: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00041: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00042: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00043: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00044: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00045: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00046: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00047: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00048: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00049: saving model to Output\AlphabetSoupCharity_Optimization.h5

Epoch 00050: saving model to Output\AlphabetSoupCharity_Optimization.h5

In [20]:
model_loss, model_accuracy = best_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5520 - accuracy: 0.7296
Loss: 0.5519757270812988, Accuracy: 0.7296477556228638