## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
filtered_df = application_df.drop(columns=['EIN', 'NAME'])
filtered_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
filtered_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
filtered_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    filtered_df['APPLICATION_TYPE'] = filtered_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
filtered_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Look at CLASSIFICATION value counts for binning
classifications = filtered_df['CLASSIFICATION'].value_counts()
cls_df = pd.DataFrame(classifications)
cls_df

       CLASSIFICATION
C1000           17326
C2000            6074
C1200            4837
C3000            1918
C2100            1883
Other            1484
C7000             777

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for idx, cls in cls_df.iterrows():
    if cls[0] < 500:
        classifications_to_replace.append(idx)

# Replace in dataframe
for cls in classifications_to_replace:
    filtered_df['CLASSIFICATION'] = filtered_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
filtered_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(filtered_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays
y = dummies_df['IS_SUCCESSFUL']
X = dummies_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  5
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 5)                 225
_________________________________________________________________
dense_4 (Dense)              (None, 5)                 30
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 6
=================================================================
Total params: 261
Trainable params: 261
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6118 - accuracy: 0.6900: 0s - loss: 0.6302 - ac
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5663 - accuracy: 0.7252
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5590 - accuracy: 0.7283
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5562 - accuracy: 0.7298
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.7299
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5537 - accuracy: 0.7296
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5528 - accuracy: 0.7296
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5522 - accuracy: 0.7299
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.7306
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7309
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7304
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5507 - accuracy: 0.7310: 0s - loss: 0.5507 - accuracy: 0.
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7308
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5503 - accuracy: 0.7306
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5501 - accuracy: 0.7308
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.7309
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7304: 0s - loss: 0.5491 - accuracy: 0.
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7306
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7311
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7321
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7311
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7317
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7301
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7310
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7327
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7306: 0s - los
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7320
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5486 - accuracy: 0.7317
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7319
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7327
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7312
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5481 - accuracy: 0.7324
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7330
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7329
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7325
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7328
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5478 - accuracy: 0.7325
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7327
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7328
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7339
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7332: 0s - loss: 0.5490 - accuracy - ETA: 0s - loss: 0.5477 -
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7329
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7329
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7338
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7339: 0s - loss: 0
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7329
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5467 - accuracy: 0.7335
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7329
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7330
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7331
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7331: 0s - loss: 0.5476
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7341
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7345
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7334: 0s - loss: 0.5469 -
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7327
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7336
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7334
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7336
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5462 - accuracy: 0.7329
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7336
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7336: 0s - loss: 0.5469 - accuracy
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7336
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7336
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7341
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7338
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7341
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7334
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7343: 0s - loss: 0.5451 - accuracy: 0. - ETA: 0s - loss: 0.5438 -
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7335
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7324
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7340
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7332
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7338
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7334
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7341
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7334
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7336
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7344: 0s - loss: 0.5451 - accuracy: 0.73
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7338
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7334
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7345
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7342: 0s - loss: 0.5450 - ac
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7346
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7339
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7341
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7344: 0s - loss: 0.5
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7340
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7338
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7341
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7338
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7343
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7341
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7344
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7343

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5538 - accuracy: 0.7263
Loss: 0.5538271069526672, Accuracy: 0.7262973785400391

In [17]:
# Export our model to HDF5 file
import os
checkpoint_path = "Output/AlphabetSoupCharity.h5"
checkpoint_dir = os.path.dirname(checkpoint_path)

batch_size = 804
cp_callbacks = tf.keras.callbacks.ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_frequency = 5*batch_size
)

nn.save_weights(checkpoint_path.format(epoch=0))

fit_model = nn.fit(X_train_scaled,y_train,
    epochs=100,
    batch_size=batch_size,
    callbacks=[cp_callbacks],
    validation_data=(X_test,y_test),
    verbose=0
    )

Epoch 00001: saving model to Output\AlphabetSoupCharity.h5

Epoch 00002: saving model to Output\AlphabetSoupCharity.h5

Epoch 00003: saving model to Output\AlphabetSoupCharity.h5

Epoch 00004: saving model to Output\AlphabetSoupCharity.h5

Epoch 00005: saving model to Output\AlphabetSoupCharity.h5

Epoch 00006: saving model to Output\AlphabetSoupCharity.h5

Epoch 00007: saving model to Output\AlphabetSoupCharity.h5

Epoch 00008: saving model to Output\AlphabetSoupCharity.h5

Epoch 00009: saving model to Output\AlphabetSoupCharity.h5

Epoch 00010: saving model to Output\AlphabetSoupCharity.h5

Epoch 00011: saving model to Output\AlphabetSoupCharity.h5

Epoch 00012: saving model to Output\AlphabetSoupCharity.h5

Epoch 00013: saving model to Output\AlphabetSoupCharity.h5

Epoch 00014: saving model to Output\AlphabetSoupCharity.h5

Epoch 00015: saving model to Output\AlphabetSoupCharity.h5

Epoch 00016: saving model to Output\AlphabetSoupCharity.h5

Epoch 00017: saving model to Output\AlphabetSoupCharity.h5

Epoch 00018: saving model to Output\AlphabetSoupCharity.h5

Epoch 00019: saving model to Output\AlphabetSoupCharity.h5

Epoch 00020: saving model to Output\AlphabetSoupCharity.h5

Epoch 00021: saving model to Output\AlphabetSoupCharity.h5

Epoch 00022: saving model to Output\AlphabetSoupCharity.h5

Epoch 00023: saving model to Output\AlphabetSoupCharity.h5

Epoch 00024: saving model to Output\AlphabetSoupCharity.h5

Epoch 00025: saving model to Output\AlphabetSoupCharity.h5

Epoch 00026: saving model to Output\AlphabetSoupCharity.h5

Epoch 00027: saving model to Output\AlphabetSoupCharity.h5

Epoch 00028: saving model to Output\AlphabetSoupCharity.h5

Epoch 00029: saving model to Output\AlphabetSoupCharity.h5

Epoch 00030: saving model to Output\AlphabetSoupCharity.h5

Epoch 00031: saving model to Output\AlphabetSoupCharity.h5

Epoch 00032: saving model to Output\AlphabetSoupCharity.h5

Epoch 00033: saving model to Output\AlphabetSoupCharity.h5

Epoch 00034: saving model to Output\AlphabetSoupCharity.h5

Epoch 00035: saving model to Output\AlphabetSoupCharity.h5

Epoch 00036: saving model to Output\AlphabetSoupCharity.h5

Epoch 00037: saving model to Output\AlphabetSoupCharity.h5

Epoch 00038: saving model to Output\AlphabetSoupCharity.h5

Epoch 00039: saving model to Output\AlphabetSoupCharity.h5

Epoch 00040: saving model to Output\AlphabetSoupCharity.h5

Epoch 00041: saving model to Output\AlphabetSoupCharity.h5

Epoch 00042: saving model to Output\AlphabetSoupCharity.h5

Epoch 00043: saving model to Output\AlphabetSoupCharity.h5

Epoch 00044: saving model to Output\AlphabetSoupCharity.h5

Epoch 00045: saving model to Output\AlphabetSoupCharity.h5

Epoch 00046: saving model to Output\AlphabetSoupCharity.h5

Epoch 00047: saving model to Output\AlphabetSoupCharity.h5

Epoch 00048: saving model to Output\AlphabetSoupCharity.h5

Epoch 00049: saving model to Output\AlphabetSoupCharity.h5

Epoch 00050: saving model to Output\AlphabetSoupCharity.h5

Epoch 00051: saving model to Output\AlphabetSoupCharity.h5

Epoch 00052: saving model to Output\AlphabetSoupCharity.h5

Epoch 00053: saving model to Output\AlphabetSoupCharity.h5

Epoch 00054: saving model to Output\AlphabetSoupCharity.h5

Epoch 00055: saving model to Output\AlphabetSoupCharity.h5

Epoch 00056: saving model to Output\AlphabetSoupCharity.h5

Epoch 00057: saving model to Output\AlphabetSoupCharity.h5

Epoch 00058: saving model to Output\AlphabetSoupCharity.h5

Epoch 00059: saving model to Output\AlphabetSoupCharity.h5

Epoch 00060: saving model to Output\AlphabetSoupCharity.h5

Epoch 00061: saving model to Output\AlphabetSoupCharity.h5

Epoch 00062: saving model to Output\AlphabetSoupCharity.h5

Epoch 00063: saving model to Output\AlphabetSoupCharity.h5

Epoch 00064: saving model to Output\AlphabetSoupCharity.h5

Epoch 00065: saving model to Output\AlphabetSoupCharity.h5

Epoch 00066: saving model to Output\AlphabetSoupCharity.h5

Epoch 00067: saving model to Output\AlphabetSoupCharity.h5

Epoch 00068: saving model to Output\AlphabetSoupCharity.h5

Epoch 00069: saving model to Output\AlphabetSoupCharity.h5

Epoch 00070: saving model to Output\AlphabetSoupCharity.h5

Epoch 00071: saving model to Output\AlphabetSoupCharity.h5

Epoch 00072: saving model to Output\AlphabetSoupCharity.h5

Epoch 00073: saving model to Output\AlphabetSoupCharity.h5

Epoch 00074: saving model to Output\AlphabetSoupCharity.h5

Epoch 00075: saving model to Output\AlphabetSoupCharity.h5

Epoch 00076: saving model to Output\AlphabetSoupCharity.h5

Epoch 00077: saving model to Output\AlphabetSoupCharity.h5

Epoch 00078: saving model to Output\AlphabetSoupCharity.h5

Epoch 00079: saving model to Output\AlphabetSoupCharity.h5

Epoch 00080: saving model to Output\AlphabetSoupCharity.h5

Epoch 00081: saving model to Output\AlphabetSoupCharity.h5

Epoch 00082: saving model to Output\AlphabetSoupCharity.h5

Epoch 00083: saving model to Output\AlphabetSoupCharity.h5

Epoch 00084: saving model to Output\AlphabetSoupCharity.h5

Epoch 00085: saving model to Output\AlphabetSoupCharity.h5

Epoch 00086: saving model to Output\AlphabetSoupCharity.h5

Epoch 00087: saving model to Output\AlphabetSoupCharity.h5

Epoch 00088: saving model to Output\AlphabetSoupCharity.h5

Epoch 00089: saving model to Output\AlphabetSoupCharity.h5

Epoch 00090: saving model to Output\AlphabetSoupCharity.h5

Epoch 00091: saving model to Output\AlphabetSoupCharity.h5

Epoch 00092: saving model to Output\AlphabetSoupCharity.h5

Epoch 00093: saving model to Output\AlphabetSoupCharity.h5

Epoch 00094: saving model to Output\AlphabetSoupCharity.h5

Epoch 00095: saving model to Output\AlphabetSoupCharity.h5

Epoch 00096: saving model to Output\AlphabetSoupCharity.h5

Epoch 00097: saving model to Output\AlphabetSoupCharity.h5

Epoch 00098: saving model to Output\AlphabetSoupCharity.h5

Epoch 00099: saving model to Output\AlphabetSoupCharity.h5

Epoch 00100: saving model to Output\AlphabetSoupCharity.h5

In [18]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5520 - accuracy: 0.7290
Loss: 0.5520367622375488, Accuracy: 0.7289795875549316